# PDS to publish to (required)
ATP_SERVICE=https://bsky.social

# atproto credentials (required)
ATP_IDENTIFIER=handle.bsky.social
ATP_PASSWORD=app-password-here

# Record key for the tokenCollection
ATP_RECORD_KEY=latest

# Path to Style Dictionary output
SD_TOKEN_FILE=./tokens.json
